@page "/staff/stafflogin"
@layout LoginLayout
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Staff Login</PageTitle>

<h1>Staff Login</h1>

<EditForm Model="@loginDto" OnValidSubmit="OnLogin">
    <DataAnnotationsValidator />
    <div class="row mt-3">
        <div class="col-12">
            <MatTextField @bind-Value="@loginDto.Username" Outlined="true" Label="Username" Style="width: 100%;" />
            <ValidationMessage For="@(() => loginDto.Username)" />
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <MatTextField @bind-Value="@loginDto.Password" Outlined="true" Label="Password" Style="width: 100%;" />
            <ValidationMessage For="@(() => loginDto.Password)" />
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <MatButton Type="submit" Raised="true" Color="MatButtonColor.Primary">
                Login
            </MatButton>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <MatButtonLink Href="/forgotpassword">
                Forgot Password?
            </MatButtonLink>
        </div>
        <div class="col-12">
            <MatButtonLink Href="staff/registration">
                Have you registered?
            </MatButtonLink>
        </div>
    </div>
    <ValidationSummary />
    <MatToastContainer />

</EditForm>

@code {

    [Inject]
    private NavigationManager NavigationManager { get; set; }

    [Inject]
    private IMatToaster Toaster { get; set; }

    private JsonResponseDto jsonModel { get; set; }

    private LoginDto loginDto = new LoginDto();

    private bool isLoading = false;

    [Inject]
    private HttpClient httpClient { get; set; }

    private async Task OnLogin()
    {
        if (string.IsNullOrEmpty(loginDto.Username) || string.IsNullOrEmpty(loginDto.Password))
        {
            Toaster.Add("Username and Password are required.", MatToastType.Danger);
            return;
        }
        else
        {
            isLoading = true;
            var response = await httpClient.PostAsJsonAsync("api/Staff/LoginStaff", loginDto);

            if (response.IsSuccessStatusCode)
            {
                Toaster.Add("Login successful.", MatToastType.Success);
                NavigationManager.NavigateTo($"/staff/verifyotp/{loginDto.Username}");
            }
            else
            {
                isLoading = false;
                Toaster.Add("Login failed", MatToastType.Danger);
            }

        }
    }

}
