@page "/staff/verifyotp/{UserName}"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))


<PageTitle>Verify Account</PageTitle>

<EditForm EditContext="@editContext" OnValidSubmit="VerifyOtp">
    <DataAnnotationsValidator />
    <h1>Verify OTP</h1>

    <div class="col-md-6">
        <MatTextField @bind-Value="@verifyOtpDto.Otp" Outlined="true" Label="OTP" Style="width: 100%;" />
        <ValidationMessage For="@(() => verifyOtpDto.Otp)" />
    </div>

    <div class="col-12 mt-3">
        <MatButton Type="submit" Raised="true" Color="MatButtonColor.Primary" disabled="@(!editContext.Validate())">
            @if (isLoading)
            {
                <div class="top-progress-bar">
                    <MatProgressBar Indeterminate="true" Color="MatThemeColor.Primary" />
                </div>
            }
            else
            {
                <span>Submit</span>
            }
        </MatButton>
    </div>

    <ValidationSummary />
    <MatToastContainer />
</EditForm>

@code {


    [Parameter]
    public string UserName { get; set; }

    private VerifyOtpDto verifyOtpDto = new VerifyOtpDto();

    private EditContext editContext;

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    [Inject]
    public HttpClient Http { get; set; }

    [Inject]
    private IMatToaster Toaster { get; set; }

    private bool isLoading = false;

    protected override void OnInitialized()
    {
        verifyOtpDto.UserName = UserName;
        editContext = new EditContext(verifyOtpDto);
        editContext.OnFieldChanged += (sender, args) =>
        {
            StateHasChanged(); // force refresh when field changes
        };
    }

    private async Task VerifyOtp()
    {
        if (string.IsNullOrEmpty(verifyOtpDto.Otp))
        {
            Toaster.Add("OTP is required", MatToastType.Danger);
            return;
        }

        var response = await Http.PostAsJsonAsync("api/Staff/VerifyOtp", verifyOtpDto);
        isLoading = true;
        if (response.IsSuccessStatusCode)
        {
            Toaster.Add("Welcome to CareBridge", MatToastType.Success);
            NavigationManager.NavigateTo("/staff/dashboard");
        }
        else
        {
            isLoading = false;
            Toaster.Add("Invalid OTP", MatToastType.Danger);
        }
    }

}
